body{
  font-family: 'Chakra Petch', sans-serif;
  background: linear-gradient(90deg, rgba(0,0,0,1),rgb(205, 44, 44,0.6),rgb(217, 159, 46,0.6),rgb(206, 221, 31,0.6),rgba(38,219,78,0.6),rgba(37, 189, 220, 0.6),rgba(42, 38, 222, 0.6),rgba(206, 15, 209, 0.6),rgb(255, 255, 255,1)) ;

}
.First{
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  list-style: none;
  /* max-width: 120rem; */
  padding: 8rem 0 8rem 0;
  
}
a{
  color:black;
}
a:link{
  text-decoration: none;
}
.col{
 display: grid;
 column-gap: 4.8rem ;
 row-gap: 4.8rem;
}

.grid{
  display: grid;
  column-gap: 4.8rem;
  row-gap: 4.8rem;
  justify-content: center;
}
.grid--pins {
  grid-template-columns: 1fr 1fr ;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}
.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}
