body{
  font-family: 'Chakra Petch', sans-serif;
  background: linear-gradient(90deg, rgb(255, 255, 255),rgba(0,0,0,1)) ;

}
.First{
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  list-style: none;
  /* max-width: 120rem; */
  padding: 8rem 0 8rem 0;
  
}
a{
  color:black;
}
a:link{
  text-decoration: none;
}
.col{
 display: grid;
 column-gap: 4.8rem ;
 row-gap: 4.8rem;
}

.grid{
  display: grid;
  column-gap: 4.8rem;
  row-gap: 4.8rem;
  justify-content: center;
}
.grid--pins {
  grid-template-columns: 1fr 1fr ;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}
.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}
