/*
--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700

- Line heights
Default: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6
Large: 1.8

- Letter spacing
-0.5px
0.75px

--- 02 COLORS

- Primary: #e67e22
- Tints:
#fdf2e9
#fae5d3
#eb984e

- Shades: 
#cf711f
#45260a

- Accents:
- Greys

#888
#767676 (lightest grey allowed on #fff)
#6f6f6f (lightest grey allowed on #fdf2e9)
#555
#333

--- 05 SHADOWS

0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);

--- 06 BORDER-RADIUS

Default: 9px
Medium: 11px

--- 07 WHITESPACE

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/





/* body, html{
  height:100%;
  width:100%;
} */
body{
  font-family: 'Chakra Petch', sans-serif;
  background: linear-gradient(rgb(255, 255, 255),rgb(202, 202, 202),rgb(166, 166, 166),rgb(135, 135, 135),rgb(105, 105, 105),rgb(72, 72, 72),rgb(51, 51, 51),rgb(0, 0, 0));

}
.heading-primary{
 
   padding-top:0;
  font-size:6rem}
  .heading-secondry{
    font-size:4rem;
  }
 .heading-tertiary{
  font-size:14px;
 } 
 .heading-h3{
  font-size:2rem;
 }
 p{
  font-size:1rem;
 }
h1{
  text-align: center;
  font-family: 'Chakra Petch', sans-serif;
  padding:2rem 0 2rem 0;
  font-size: 7.4em;
  /* font-weight: 700; */
}
h2{
  font-family: 'Chakra Petch', sans-serif;
  font-weight: 600;
  /* text-align: center;
  justify-content: center; */
}
h3{
  font-family: 'Chakra Petch', sans-serif;
}
h4{text-align: center;
  font-family: 'Chakra Petch', sans-serif;
  padding:2rem 0 2rem 0;
  font-size: 7.4em;
  
}
h5{
  font-family: 'Chakra Petch', sans-serif;
}
section{
  margin-top:10rem;
}
#First{
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  list-style: none;
  /* max-width: 120rem; */
  /* padding: 15rem; */
  border:none ;
  
}

/*.nav-style{
  background: linear-gradient(90deg,rgb(255, 255, 255,1),rgba(0,0,0,1)) ;

}*/
.nav-content{
  font-family: 'Chakra petch', sans-serif;
  font-size:20px;
  font-weight: 400;
  justify-content: center;
  column-gap:2rem;
}
.designs{
  width: 50rem;
  height:25rem;
  /* z-index: -1; */
  margin: auto;
  
 
}
/* .nav-link{
  text-align: center;
} */

/* 
div .carousel-design {
  background-image: rgb(0, 0, 0,0.6);
  z-index: 2;
  object-fit: cover;
  
} */
.carousel-design{
  border-radius: 3px;
 

} 

.col-mn-nav{
 display: grid;
 column-gap: 4.8rem ;
 row-gap: 4.8rem;
}

.grid{
  display: grid;
  column-gap: 4.8rem;
  row-gap: 4.8rem;
  justify-content: center;
}
.grids{
  display:grid;
  column-gap: 1.8rem;
  row-gap: 1.8rem;
  justify-content: center;

}
.grid--pins {
  grid-template-columns: 1fr 1fr ;
}
.grid--2-icon {
  grid-template-columns: repeat(2, 1fr);
}
.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}
.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}
.grid--3-coars{
  grid-template-columns: repeat(3, 1fr);
}
.grid--5-cols{
  grid-template-columns: repeat(5, 1fr);

}

#weapon-img{
  width:60%;
  height:90%;  
  margin-top:2rem; }

/* --------------------
        PROFILE
----------------------- */
#j2f{
  font-family: 'Chakra Petch', sans-serif;
  text-align: center;
  margin-top:20rem;

}
.inner-text{
  padding-top:10rem;
}

h3{
  text-align: center;
}

.carousel-shape{
  border-radius:50%;
  
}

.my-pictures{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;

}
.my-pictures::before,
.my-pictures::after {
  content: "";
  display: block;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.my-pictures::before {
  width: 150%;
  /* height: 60%; */

  /* 60% of parent's width */
  padding-bottom: 150%;
opacity: 50%;
  background-color: #000000;
  z-index: -2;
}

/* .navbar.scrolled {
  background-color: #001143a1 !important;
  transition: background-color 200ms linear;
  position: fixed;
  top: 0px;
  /* margin: 0 30px;
  border-radius: 15px; */
  /* animation: navbar 1s linear forwards; */
  /* animation-duration: 2s; */
  /* transition: top 0.5s; */
  */
#section-top{
  padding-top:5rem;
}

.tale{
  font-family:'Chakra Petch', sans-serif;
  text-align:center;
  padding-bottom:10rem;
}
/*.circle-video-container {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}

.circle-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}*/

/* --------------------
      WEAPON OF CHOICES
----------------------- */
.grid-weapon{
  display: grid;
  column-gap: 4.8rem;
  row-gap: 2.4rem;
  justify-content: center;
}
 .weapons{
  font-family:"Chakra Petch", sans-serif;
  display:grid;
  color: white;
}
.progress{
  opacity: 90%;
}
.weapon-content{
 padding: 24rem 0 0 2rem  ;
}


/* --------------------
      WORK
----------------------- */


.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* gap: 2rem; */
  padding:0 0 8rem 0;
}

.img{
  height:19rem;
   width:19rem;
}
.gallery-item {
  overflow: hidden;
}

.gallery-item video {
  display: block;
  width: 100%;
  transition: all 0.4s;
}
.mod-image{
  overflow: hidden;

  /* justify-content: center; */
}
.mod-image img{
  display: block;
  width: 100%;
  transition: all 0.4s;
  justify-content: center;
}

#but{
  /* justify-content: center; */
  text-align: center;
  margin-bottom: 10rem ;
  
}
.button {
        background-color: #202020;
        width: 220px;
        height: 50px;
        border: none;
        color: #000000;
        cursor: pointer;
        display: inline-block;
        font-family: 'Chakra Petch',sans-serif;
        position: relative;
        z-index: 0;
        border-radius: 10px;
        text-align: center;
        text-decoration: none;
      }

      /* @keyframes glowing {
        0% {
          background: #ffffff;
          box-shadow: 0 0 5px #ffffff;
        }
        50% {
          background-color: #ffffff;
          box-shadow: 0 0 20px #ffffff;
        }
        100% {
          background-color: #ffffff;
          box-shadow: 0 0 5px #ffffff;
        }
      } */
      .button {
        animation: glowing 1300ms infinite;
      }
/* .modal{
  margin-top:10rem;
  margin-left:5rem;
} */
/* .gallery-item:hover{
  
  background-image: linear-gradient( #4c3d01 0%, #ffcd05 100% );
  border-radius: 11px ;
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
} */

.gallery-item img:hover {
  transform: scale(1.1);
  
}

.step-img-box {
  position: relative;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  border-radius: 50%;
}


/* .my-pictures::after {
  width: 45%;
  padding-bottom: 45%;
  background-color: #fae5d3;
  z-index: 1;
} */

/*  .my-pictures {
  width: 35%;
  /* z-index: 10; */
  
  .image {
    opacity: 1;
    /* display: block; */
  
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .contain:hover .image {
    color:#FFFFFF;
    opacity: 0.6;
  }
  
  .contain:hover .middle {
    color:black;
    opacity: 1;
  }
  
  .text-uiux {
    color:black;
    font-size: 24px;
    font-weight: 700;
    text-align:center;
    padding:  32px;
  }

.work-img{
  height:30rem; width:50rem;
}

.w-100 {
  width: 100%!important;
}






/* --------------------
        PROJECTS
----------------------- */
   .projects{
    margin-bottom:10rem;  
   }
  .project-cards {
    /* box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075); */
    /* border-radius: 11px; */
   box-sizing:border-box;
    overflow: hidden;
    background-image: linear-gradient( #f8f8f8 0% ,#000000 100%) ; /**/
   width:50rem;
   height:20rem;
   
    transition: all 0.4s;
    color: #FFFFFF;
  }
  
  .project-cards:hover{
    transform: translateY(-1.2rem);
    background: linear-gradient(90deg, rgba(0,0,0,1),rgb(205, 44, 44,0.6),rgb(217, 159, 46,0.6),rgb(206, 221, 31,0.6),rgba(38,219,78,0.6),rgba(37, 189, 220, 0.6),rgba(42, 38, 222, 0.6),rgba(206, 15, 209, 0.6),rgb(255, 255, 255,1)) ;
/* 
    background-image: linear-gradient( #4c3d01 0%, #ffcd05 100% ); */
    border-radius: 11px ;
    box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
  }

  .img-project
{width: 50rem;
      height:25rem}
.project-title{
  padding: 8rem;
}
a{
  color: #000000;
}
a:link, a:visited{
  color:black;
  text-decoration: none;
  
}
.project-title:hover, .project-title:active{
  color:white;
}
.link-half{
  color:white;
}
a:link, .link-half:hover{
  color:black;
}

/* --------------------
        PROJECTS
----------------------- */

.carousel-design{
  /* margin:0 2rem 0 2rem ;
  padding-bottom: 20rem; */
  height:25rem; width:50rem;
}
.design-img{
  display:flex;
  justify-content: center;
  border-radius: 50%;
}
.design-title{
  text-align: center;
}
.design-text{
  display:block;
  padding:2rem;
  position: center;
  
}

/* --------------------
        PROJECTS
----------------------- */
.footer{
  /* height:30rem; */
  
 height:45rem;
 /* width:100%; */
  background-color: #202020;
}
.brands{
  background-color:black;
 
  position: center;
  
}
.rights{
  height:35rem;
 /* width:100%; */
  background-color: #414141;
}
article{
  padding-top: 17%;
    padding-bottom: 11%;
}
.text-but {
  /* background-color: #202020; */
  /* -webkit-border-radius: 60px; */
  /* border-radius: 60px; */
  /* border: none; */
  color: #000000;
  cursor: pointer;
  /* display: inline-block; */
  font-family: 'Chakra Petch',sans-serif;
  /* font-size: 16px; */
  /* padding: 20px 20px; */
  text-align: center;
  /* text-decoration: none; */
}

@keyframes glowing {
  0% {
    background: #ffffff;
    box-shadow: 0 0 5px #ffffff;
  }
  50% {
    background-color: #ffffff;
    box-shadow: 0 0 20px #ffffff;
  }
  100% {
    background-color: #ffffff;
    box-shadow: 0 0 5px #ffffff;
  }
}
.text-but {
  animation: glowing 1300ms infinite;
}
.text-but :hover
{
text-decoration:none;
color:#000000;
/* background:black; */

}
#mailto{
  text-align: center; 
  font-size:24px;
}
/* ion-icon {
/* color:#ffffff; */
/* font-size: 64px; */
/* width:20rem; */

/* } */ 

.icon ion-icon {
  color:white;
  font-size: 30px;
}

 
/*----------------------
        ui/ux
---------------------- */
/*#calender{
  height:20rem; 
  width:40rem;
}
#certificate{
  height:30rem; 
  width:20rem;
}
*/#logo{
  height:5rem; 
  width:5rem;
}
#logo2{
  height:5rem; 
  width:15rem;
}*/
#portfolio{
  height:30rem; 
  width:30rem;
}
#w2t{
  height:30rem; 
  width:30rem;
}
